@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-white-border {
  -webkit-text-stroke: 2px white; /* Chrome, Safari */
}

/* buttonPop.css */
@keyframes pop {
  0% { transform: scale(1); }
  40% { transform: scale(1.05); }  /* bigger pop */
  70% { transform: scale(0.95); }  /* slight bounce */
  100% { transform: scale(1); }
}

.animate-pop {
  animation: pop 0.15s ease-out; /* fast and satisfying */
}
